
*{
    margin: 0;
}

nav{
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    
    

}

.btn-download{
    background-color: white;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 8%;
    cursor: pointer;
}

/* hero section's style */

.cover{
    background-image: url(../assets/Hero-bg.png);
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 20px;

}
.heroHeading{
    margin-bottom: 20px;
    font-size: 50px;
}
.contentDiv{
     text-align: center;
}
.btn-contact{
    padding: 12px 18px;
    background-color: black;
    color: white;
    border-radius: 8%;
    cursor: pointer;
}

/* section 2 styles */

.sec2{
    padding: 40px 0px;
}
.heading2{
    margin: 20px 0px;
    text-align: center;
}
.heading2 h1{
    margin-bottom: 20px;
}

.reason1{
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
}
.reasonContent h2{
    margin-bottom: 20px;
}
.reason-button{
    margin-top: 20px;
    padding: 12px 28px;
    cursor: pointer;
}
.reason2{
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
}

.reason3{
    display: flex;
    justify-content: space-around;
}
/* section 3 styles */

.sec3{
    padding: 40px 0px;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.cardH3{
    margin: 15px 0px;
}
.cardButton{
    padding: 5px 0px;
    margin-top: 15px;
    background:transparent;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;

}
.sec3Heading{
    text-align: center;
    padding: 20px 0px;
    margin: 20px 0px;
}
.sec3Heading h2{
    margin-bottom: 20px;
}
.card1{
    padding: 20px 15px;
    background-color: rgba(237, 56, 11, 0.05);
}
.card2{    padding: 20px 15px;

    background-color: rgba(0, 76, 232, 0.05);
}
.card3{    padding: 20px 15px;

    background-color: rgba(255, 223, 0, 0.05);
}
.cards img{
    padding-top: 20px;
}
/* section 4 styles */
.sec4head{
    text-align: center;
    margin: 30px 0px;
}
.sec4head h2{
    margin-bottom: 20px;
}
.layer{
    margin: 30px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.layer img{
    height: 55px;
    width: 70px;
}
.sec5{
    background-image: url(../assets/handshake.jpg);
    max-width: 1140px;
    margin: 100px auto;
    padding: 80px 0px;
    color: white;
}
.secFivediv{
  text-align: center;
}

.secFivediv h1{
    margin-bottom: 20px;

}
.secFivediv p{
    margin-bottom: 20px;
}

.inputText{
    height: 50px;
    width: 500px;
}
.submit{
    height: 50px;
    width: 100px;
}
/* footer styles */
.foot{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}